<div class="jumbotron">
  <h1>Olá Candidato <%= current_applicant.profile.name%></h1>
  <h1>Sua descrição <%= @applicant.profile.description%></h1>
  <h2>Seu perfil está completo em: <%=@percentage%></h2>
</div>
  <%=@hello%>
