<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#">Novoemprego</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarCollapse"
    aria-controls="navbarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= button_to 'Empresa', new_applicant_session_path, {class: 'nav-link btn btn-outline-success m-2 p-2'} %>
      </li>
      <li class="nav-item">
        <%= button_to 'Candidato', new_applicant_session_path, {class: 'nav-link btn btn-outline-primary m-2 p-2'} %>
      </li>
      <% if applicant_signed_in? %>
      <li class="nav-item">
          <%= link_to 'Sair', destroy_applicant_session_path, method: :delete %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>
