<div class="container">
  <div class="jumbotron jumbotron-fluid alert-success" role="alert">
    <h1 class="display-4 center">Bem-vindo ao Novo emprego !</h1>
    <p class="lead">O melhor site de empregos para candidatos e empresas.</p>
    </div>
  </div>
</div>
<% if applicant_signed_in? %>
<%= current_applicant.inspect%>
<br/>
<%= current_applicant.profile.inspect%>
<% end %>